<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-member-heading" data-cy="MemberCreateUpdateHeading" jhiTranslate="membershipApp.member.home.createOrEditLabel">
        Create or edit a Member
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="membershipApp.member.firstName" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
          <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('firstName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="membershipApp.member.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
          <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="membershipApp.member.civilId" for="field_civilId">Civil Id</label>
          <input type="text" class="form-control" name="civilId" id="field_civilId" data-cy="civilId" formControlName="civilId" />
          <div *ngIf="editForm.get('civilId')!.invalid && (editForm.get('civilId')!.dirty || editForm.get('civilId')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('civilId')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="membershipApp.member.birthDate" for="field_birthDate">Birth Date</label>
          <div class="d-flex">
            <input
              id="field_birthDate"
              data-cy="birthDate"
              type="datetime-local"
              class="form-control"
              name="birthDate"
              formControlName="birthDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('birthDate')!.invalid && (editForm.get('birthDate')!.dirty || editForm.get('birthDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('birthDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('birthDate')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="membershipApp.member.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('email')?.errors?.pattern"
              jhiTranslate="entity.validation.pattern"
              [translateValues]="{ pattern: 'Email' }"
            >
              This field should follow pattern for "Email".
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="membershipApp.member.phone" for="field_phone">Phone</label>
          <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
          <div *ngIf="editForm.get('phone')!.invalid && (editForm.get('phone')!.dirty || editForm.get('phone')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('phone')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="membershipApp.member.address1" for="field_address1">Address 1</label>
          <input type="text" class="form-control" name="address1" id="field_address1" data-cy="address1" formControlName="address1" />
          <div *ngIf="editForm.get('address1')!.invalid && (editForm.get('address1')!.dirty || editForm.get('address1')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('address1')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="membershipApp.member.address2" for="field_address2">Address 2</label>
          <input type="text" class="form-control" name="address2" id="field_address2" data-cy="address2" formControlName="address2" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="membershipApp.member.city" for="field_city">City</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="membershipApp.member.country" for="field_country">Country</label>
          <input type="text" class="form-control" name="country" id="field_country" data-cy="country" formControlName="country" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="membershipApp.member.salary" for="field_salary">Salary</label>
          <input type="number" class="form-control" name="salary" id="field_salary" data-cy="salary" formControlName="salary" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="membershipApp.member.gender" for="field_gender">Gender</label>
          <select class="form-control" name="gender" formControlName="gender" id="field_gender" data-cy="gender">
            <option [ngValue]="null">{{ 'membershipApp.Gender.null' | translate }}</option>
            <option value="MALE">{{ 'membershipApp.Gender.MALE' | translate }}</option>
            <option value="FEMALE">{{ 'membershipApp.Gender.FEMALE' | translate }}</option>
          </select>
          <div *ngIf="editForm.get('gender')!.invalid && (editForm.get('gender')!.dirty || editForm.get('gender')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('gender')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="membershipApp.member.membershipStatus" for="field_membershipStatus"
            >Membership Status</label
          >
          <select
            class="form-control"
            id="field_membershipStatus"
            data-cy="membershipStatus"
            name="membershipStatus"
            formControlName="membershipStatus"
          >
            <option *ngIf="!editForm.get('membershipStatus')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                membershipStatusOption.id === editForm.get('membershipStatus')!.value?.id
                  ? editForm.get('membershipStatus')!.value
                  : membershipStatusOption
              "
              *ngFor="let membershipStatusOption of membershipStatusesSharedCollection; trackBy: trackMembershipStatusById"
            >
              {{ membershipStatusOption.name }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['membershipStatus'])!.invalid &&
            (editForm.get(['membershipStatus'])!.dirty || editForm.get(['membershipStatus'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['membershipStatus'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="membershipApp.member.membershipCategory" for="field_membershipCategory"
            >Membership Category</label
          >
          <select
            class="form-control"
            id="field_membershipCategory"
            data-cy="membershipCategory"
            name="membershipCategory"
            formControlName="membershipCategory"
          >
            <option *ngIf="!editForm.get('membershipCategory')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                membershipCategoryOption.id === editForm.get('membershipCategory')!.value?.id
                  ? editForm.get('membershipCategory')!.value
                  : membershipCategoryOption
              "
              *ngFor="let membershipCategoryOption of membershipCategoriesSharedCollection; trackBy: trackMembershipCategoryById"
            >
              {{ membershipCategoryOption.name }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['membershipCategory'])!.invalid &&
            (editForm.get(['membershipCategory'])!.dirty || editForm.get(['membershipCategory'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['membershipCategory'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="membershipApp.member.membershipType" for="field_membershipType"
            >Membership Type</label
          >
          <select
            class="form-control"
            id="field_membershipType"
            data-cy="membershipType"
            name="membershipType"
            formControlName="membershipType"
          >
            <option *ngIf="!editForm.get('membershipType')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                membershipTypeOption.id === editForm.get('membershipType')!.value?.id
                  ? editForm.get('membershipType')!.value
                  : membershipTypeOption
              "
              *ngFor="let membershipTypeOption of membershipTypesSharedCollection; trackBy: trackMembershipTypeById"
            >
              {{ membershipTypeOption.name }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['membershipType'])!.invalid &&
            (editForm.get(['membershipType'])!.dirty || editForm.get(['membershipType'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['membershipType'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="membershipApp.member.membershipLevel" for="field_membershipLevel"
            >Membership Level</label
          >
          <select
            class="form-control"
            id="field_membershipLevel"
            data-cy="membershipLevel"
            name="membershipLevel"
            formControlName="membershipLevel"
          >
            <option *ngIf="!editForm.get('membershipLevel')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                membershipLevelOption.id === editForm.get('membershipLevel')!.value?.id
                  ? editForm.get('membershipLevel')!.value
                  : membershipLevelOption
              "
              *ngFor="let membershipLevelOption of membershipLevelsSharedCollection; trackBy: trackMembershipLevelById"
            >
              {{ membershipLevelOption.name }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['membershipLevel'])!.invalid &&
            (editForm.get(['membershipLevel'])!.dirty || editForm.get(['membershipLevel'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['membershipLevel'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
